:root {
  --primary-color: hsl(158, 36%, 37%);
  --primary-color-darker: hsl(158, 36%, 20%);
  --secondary-color: hsl(30, 38%, 92%);
  --neutral-color-dark: hsl(212, 21%, 14%);
  --neutral-color-gray: hsl(228, 12%, 48%);
  --neutral-color-light: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* general styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--neutral-color-gray);
  font-size: 0.875rem;
  background-color: var(--secondary-color);

  /* for this project */
  display: grid;
  place-content: center;
  margin: 1rem;
}
/*  utilities */
.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* button */
.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    border: 0;
    border-radius: .5rem;
    padding: .75em 1.5em;
    background-color: var(--primary-color);
    color: var(--neutral-color-light);
    font-weight: var(--fw-bold);
    font-size: 0.925rem;
}

.button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
}

.button:is(:hover, :focus) {
    background-color: var(--primary-color-darker);
}

/* product styles */
.product {
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    background-color: var(--neutral-color-light);
    border-radius: 0.5rem;
    overflow: hidden;

    display: grid;
    max-width: 600px;
}

@media (min-width: 600px) {
    .product {
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.product-content {
    padding: var(--content-padding);
    display: grid;
    gap: var(--content-spacing);
}

.product-category {
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product-title {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--neutral-color-dark);
}

.product-price {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--primary-color);
}

