:root {
    --primary-color-1: hsl(158, 36%, 37%);
    --primary-color-2: hsl(30, 38%, 92%);
    --neutral-color-1: hsl(212, 21%, 14%);
    --neutral-color-2: hsl(228, 12%, 48%);
    --neutral-color-3: hsl(0, 0%, 100%);
    font-size: 14px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,100&family=Montserrat:wght@100&display=swap');
    font-weight: 500, 700;
}

@font-face {
    font-family: 'Fraunces';
    src: url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,100&family=Montserrat:wght@100&display=swap');
    font-weight: 700;
}
